.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container > div {
    width: 200px;
    height: 47px;
}
