div.compact-picker > div.flexbox-fix {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.compact-picker > div.flexbox-fix > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.compact-picker > div.flexbox-fix > div > span {
    top: 0 !important;
}

div.compact-picker > div.flexbox-fix > div:first-child {
    top: 3px !important;
}
