div.grid-form-builder-parent .warn-required::placeholder {
  color: red;
  opacity: 1;
}

div.grid-form-builder-parent .warn-required:-ms-input-placeholder {
  color: red;
}

div.grid-form-builder-parent .warn-required::-ms-input-placeholder {
  color: red;
}

div.grid-form-builder-parent div.warn-required > div > span > div.Select-placeholder {
  color: red;
  opacity: 1;
}

div.grid-form-builder-parent div.warn-required > div > span > div.Select-placeholder {
  color: red;
}

div.grid-form-builder-parent div.warn-required > div > span > div.Select-placeholder {
  color: red;
}

div.grid-form-builder-parent select.select-grid-input {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #a0a0a0;
}

div.grid-form-builder-parent div.Select {
  width: 100%;
}

div.grid-form-builder-parent div.Select > div.Select-control > span > div.Select-value, div.Select > div.Select-control > div > div.Select-value {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 5px;
}

div.grid-form-builder-parent div.Select > div.Select-control > span > div.Select-value > span, div.Select > div.Select-control > div > div.Select-value > span {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 23px;
  white-space: nowrap;
}

div.grid-form-builder-parent div.Select > div.Select-control > span.Select-multi-value-wrapper, div.Select > div.Select-control > div.Select-multi-value-wrapper {
  display: flex;
}

div.grid-form-builder-parent .is-open > div.Select-control {
  background-color: transparent;
  border: 2px solid #a1c3fa;
  border-radius: 2px;
}

div.grid-form-builder-parent .is-open > div.Select-control > span.Select-arrow-zone {
  margin-right: -4px;
}

div.grid-form-builder-parent div.select-grid-input {
  height: 25px;
}

div.grid-form-builder-parent div.select-grid-input > div.Select-menu-outer {
  margin-left: 0;
}

div.grid-form-builder-parent div.select-grid-input.select-grid-input-inline {
  height: 24px;
}

div.grid-form-builder-parent div.select-grid-input.select-grid-input-inline > div.Select-menu-outer {
  margin-left: 0;
}

div.grid-form-builder-parent div.select-grid-input.select-grid-input-inline > div.Select-control {
  border: 0;
  border-bottom: 1px solid #a0a0a0;
}

div.grid-form-builder-parent div.Select-control > span.Select-multi-value-wrapper > div.Select-value > span.Select-value-icon {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 25px;
  margin-left: -5px;
}

div.grid-form-builder-parent div.Select-control > span.Select-multi-value-wrapper > div.Select-value {
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

div.grid-form-builder-parent div.Select-control > div.Select-multi-value-wrapper > div.Select-value {
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

div.grid-form-builder-parent div.Select-control > span.Select-multi-value-wrapper {
  display: flex;
  height: 23px;
}

div.grid-form-builder-parent div.Select-control > div.Select-value > span {
  color: black !important;
}

div.grid-form-builder-parent div.Select-control > div.Select-value > span > div.Select-Value {
  padding-left: 5px !important;
  display: flex;
  align-items: center;
}

div.grid-form-builder-parent div.Select-control {
  border: 1px solid #a0a0a0;
  border-radius: 1px;
  background-color: transparent;
  height: 24px;
}

div.grid-form-builder-parent div.Select-menu-outer > div.Select-menu > div.Select-option {
  overflow-x: visible;
  white-space: nowrap;
}

div.grid-form-builder-parent div.Select-menu-outer{
  min-width: 275px;
}

div.grid-form-builder-parent div.Select-placeholder, div.Select--single > div.Select-control div.Select-value {
  color: #757575;
}

div.grid-form-builder-parent div.warn-required > div.Select-control {
  border: 1px solid #ec1c24;
}

div.grid-form-builder-parent .select-grid-input.select-grid-input-inline > div.Select-control > span > div.Select-placeholder {
  line-height: 27px;
}

div.grid-form-builder-parent .select-grid-input > div.Select-control > span > div.Select-placeholder {
  line-height: 25px;
}

div.grid-form-builder-parent .select-grid-input.warn-required > div.Select-control.warn-required > span > div.Select-placeholder {
  line-height: 25px;
  border: 1px solid #ec1c24;
}

div.grid-form-builder-parent div.Select-menu-outer {
  border: 1px solid #a0a0a0;
  margin-left: -2px;
  margin-top: 1px;
}

div.grid-form-builder-parent div.Select-menu-outer > div.Select-menu {
  border: 0;
}

div.grid-form-builder-parent div.Select-menu-outer > div.Select-menu > div.is-focused {
  background-color: #36a9e1;
  color: #f5f5f5;
}

div.grid-form-builder-parent div.Select-menu-outer > div.Select-menu > div {
  height: 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #a0a0a0;
  color: #404d54;
  padding-top: 4px;
}

div.grid-form-builder-parent div.Select-input > input {
  height: 24px;
  padding: 0;
  width: 100% !important;
}

div.grid-form-builder-parent div.Select-input {
  height: 24px;
  width: 90%;
}

div.grid-form-builder-parent .date-wrapper-grid-input {
  height: 27px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 177px;
}

div.grid-form-builder-parent .date-wrapper-grid-input > input {
  height: 25px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-left: 5px;
  border: 1px solid #a0a0a0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 1px;
  color: black;
}

div.grid-form-builder-parent .date-wrapper-grid-input.warn-required > input {
  border: 1px solid #ec1c24;
}

div.grid-form-builder-parent .date-wrapper-grid-input.date-wrapper-grid-input-inline > input {
  height: 27px;
  border: 0;
  border-bottom: 1px solid #a0a0a0;
}

div.grid-form-builder-parent .date-wrapper-grid-input.date-wrapper-grid-input-inline.warn-required > input {
  border-bottom: 1px solid #ec1c24;
}

div.grid-form-builder-parent .date-wrapper-grid-input > .rdtPicker {
  margin-top: 27px;
}

div.grid-form-builder-parent .checkbox-grid-input {
  margin-top: 1px;
  width: 17px;
  height: 17px;
  background: url(./check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

div.grid-form-builder-parent .checkbox-grid-input:checked {
  background: url(./check_radio_sheet.png) -19px top no-repeat;
}

div.grid-form-builder-parent .radio-grid-input {
  display: flex;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  background: url(./check_radio_sheet.png) -38px top no-repeat;
  cursor: pointer;
}

div.grid-form-builder-parent .radio-grid-input:checked {
  background: url(./check_radio_sheet.png) -57px top no-repeat;
}

div.grid-form-builder-parent .ck.ck-editor__main {
  height: calc(100% - 55px);
}

div.grid-form-builder-parent .ck.ck-reset.ck-editor.ck-rounded-corners {
  height: 100%;
}

div.grid-form-builder-parent .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-blurred.ck-editor__editable_inline {
  height: 100%;
}

div.grid-form-builder-parent .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-focused.ck-editor__editable_inline {
  height: 100%;
}
