/* issue with react-select https://github.com/JedWatson/react-select/issues/3068 */
input[id^='react-select-'] {
  opacity: 1 !important;
}

div.grid-form-builder-parent .active-gfb-item-action-menu {
  position: absolute;
  right: 0;
  top: -37px;
  height: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid-form-builder-parent .active-gfb-item-action-menu > .item-action-button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #36a9e1;
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.grid-form-builder-parent .active-gfb-item-action-menu > .item-action-button.action-button-remove:hover {
  background-color: red;
}

div.grid-form-builder-parent .react-grid-item.react-draggable:hover, .react-grid-item.react-draggable.drag-item-active {
  border: 2px solid #36a9e1;
  margin: -2px;
  z-index: 3;
}

div.grid-form-builder-parent .react-grid-item.react-draggable:hover > span.react-resizable-handle, .react-grid-item.react-draggable.drag-item-active > span.react-resizable-handle {
  right: -6px;
  bottom: -6px;
}

div.grid-form-builder-parent span.react-resizable-handle {
  right: -4px;
}

div.gfb-inner-cell {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.gfb-inner-cell-label {
  height: 20px;
  display: flex;
}

div.gfb-inner-cell-input, div.gfb-input-outer, div.gfb-input-inner, div.gfb-input__control,
div.gfb-input__control:hover, div.gfb-input__value-container, div.gfb-input__value-container > div[class^=css-],
div.gfb-input__input, input.gfb-input__single-value, div.gfb-input__single-value, div.gfb-input__value-container > div > div.gfb-input__input > input
{
  flex: 1;
  display: flex !important;
}

div.gfb-input__control, div.gfb-input__control:hover {
  border: 1px solid #b3b3b3;
  border-radius: 0;
  min-height: 0;
  box-shadow: none;
  align-items: stretch;
}

div.gfb-input__value-container {
  padding: 0;
  margin: 0;
  align-items: stretch;
  overflow: visible;
}

div.gfb-input__value-container > div[class^=css-] {
  padding: 0;
  margin: 0;
  align-items: stretch;
}

div.gfb-input__input {
  margin: 0;
  padding: 0;
}

div.grid-form-builder-parent div.gfb-input__value-container > div.gfb-input__multi-value {
  margin-right: 2px;
  margin-left: 2px;
  height: 20px;
  margin-top: 1px;
  flex: 0 1 auto;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

div.gfb-input__value-container--is-multi > div > div.gfb-input__input > input {
  outline: none !important;
}

input.gfb-input__single-value,
textarea.gfb-input__single-value,
div.gfb-input__single-value,
div.gfb-input__value-container > div > div.gfb-input__input > input,
div.gfb-input__value-container > div > div.gfb-input__input > textarea
{
  display: flex;
  flex: 1;
  border: none;
  margin: 0;
  padding-left: 2px !important;
  resize: none;
}

div.grid-form-builder-parent input:focus, div.grid-form-builder-parent textarea:focus {
  outline: 1px solid #37a9e1 !important;
  outline-offset: 0;
}

div > div.gfb-input__indicators > div.gfb-input__indicator {
  padding-left: 3px;
  padding-right: 3px;
}

div.gfb-input__indicators > div.gfb-input__indicator,  span.gfb-input__indicator-separator {
  margin: 0;
  padding: 0;
}
